fastapi
uvicorn[standard]
oracledb
python-multipart
python-jose[cryptography]
openpyxl
xlsxwriter
sqlalchemy==2.0.23
python-dotenv
cryptography
PyJWT
pandas==3.0.0
numpy==2.4.2
pydantic
aiofiles
jinja2
email-validator
python3-saml
python-json-logger
bcrypt